{% extends "layout.html" %}
{% block content %}
    {% for post in posts %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              {{ post.author }}
              <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
            </div>
            <h2><a class="article-title" href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
            <p class="article-content"><a href="{{ post.link1 }}">{{ post.link1 }}</a></p>
            <div class="card">
            <div class="card-body">
              <p class="article-content">Skills : {{ post.skills }}</p>
            </div>
          </div>
          </div>
        </article>
    {% endfor %}
{% endblock content %}
