<!------ Include the above in your HEAD tag ---------->
<!DOCTYPE html>
<html>
<body ng-app="citySolver" ng-controller = "signupController">
    <div class="container">    
        <div id="signupbox" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="panel-title">Post An Issue</div>
                        <div style="padding-top:30px" class="panel-body" >
                            <form id="signupform" class="form-horizontal" role="form">
                                
                                <div id="signupalert" style="display:none" class="alert alert-danger">
                                    <p>Error:</p>
                                    <span></span>
                                </div>
                                                                        
                                <div class="form-group">
                                    <label for="name" class="col-md-3 control-label">Title</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" ng-model="arr.title" placeholder="Name">
                                    {{arr.name}}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="Department" class="col-md-3 control-label">Department</label>
                                    <div class="col-md-9">
                                    <select class="form-control" ng-model="arr.department" placeholder="Select Department">
                                            <option selected>Electricity</option>
                                            <option>pwd</option>
                                            <option>Water</option>
                                            <option>Municipality</option>
                                    </select>
                                </div>
                                   
                                </div>
                                <div class="form-group">
                                        <label for="email" class="col-md-3 control-label">Detail Description</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" ng-model="arr.description" placeholder="Description">
                                        </div>
                                    </div>
                        
                                    
                                <div class="form-group">
                                    <label for="icode" class="col-md-3 control-label">City</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" ng-model="arr.city" placeholder="City">
                                    </div>
                                </div>

                                <div class="form-group">
                                        <label for="icode" class="col-md-3 control-label">Pincode</label>
                                        <div class="col-md-9">
                                            <input type="number" class="form-control" ng-model="arr.pincode" placeholder="Pincode">
                                        </div>
                                    </div>
                                <div class="form-group">
                                                    <label for="Department" class="col-md-3 control-label">Impact</label>
                                                    <div class="col-md-9">
                                                    <select class="form-control" ng-model="arr.impact" placeholder="Select Impact">
                                                            <option selected>Low</option>
                                                            <option>Medium</option>
                                                            <option>High</option>
                                                    </select>
                                            </div>
                                        </div>
                                <div class="form-group">
                                                <label for="icode" class="col-md-3 control-label">Language</label>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control" ng-model="arr.language" placeholder="Language ">
                                                </div>
                                            </div>
                                <div class="form-group">
                                                    <div class="col-md-9">
                                                        <input type="hidden" class="form-control" ng-model="arr.lat">
                                                    </div>
                                </div>
                                <div class="form-group">
                                                        <div class="col-md-9">
                                                            <input type="hidden" class="form-control" ng-model="arr.long">
                                                        </div>
                                </div>

                                <div class="form-group">
                                    <!-- Button -->                                        
                                    <div class="col-md-offset-3 col-md-9">
                                        <button id="btn-signup" type="button" class="btn btn-info" ng-click = "postIssuedone()"><i class="icon-hand-right"></i> &nbsp Post Issue</button>
                                    </div>
                                </div>
                                
                                
                                
                                
                            </form>
                         </div>
                    </div>

               
               
                
         </div> 
    </div>
    
    </div>
    </body>
    </html>
<!--    <script>
            var app = angular.module('citySolver', ["ngRoute","ngStorage"]);
            app.controller('signupController', function($scope,$localStorage,$http) {
                $scope.signup = false;
                $scope.login = false;
                $scope.arr = [];
                console.log("adghad");

                $scope.checkLogin = function()
                {
                    console.log("adghad");
                    $http({
                        method: 'POST',
                        url: './signup',
                        headers: {
                            'content-Type': 'application/json'
                        },
                        form:$scope.arr
                    })
                    .success(function (response) {
                        $window.localStorage.token = "abc.1.xyz";
                        console.log("hello");
                    });
                }
            });

            </script>-->
            <script>
                    function encodeImageFileAsURL(element) {
  var file = element.files[0];
  var reader = new FileReader();
  reader.onloadend = function() {
    console.log('RESULT', reader.result)
  }
  reader.readAsDataURL(file);
}

                    var app = angular.module("citySolver", ["ngRoute","ngStorage"]);
                    app.controller('signupController', function($scope,$location,$localStorage) {
                    $scope.postIssue = false;
                    $scope.showIssue = false;
                    $scope.home = true;
                    $scope.postIssues  = function()
                        {
                          console.log("issue");  
                          $scope.postIssue = true;
                            $scope.home = false;
                            //$window.localStorage.isLogin;
                            //$location.path('/login');
                            $location.path('/signup');
                
                          }
                    $scope.showIssues = function()
                        {
                            $scope.showIssue = true;
                            $scope.home = false;
                            $location.path('/red');
                            console.log("hdjs");
                        }
                });
                
                    app.config(function($routeProvider) {
                        $routeProvider
                        .when("/login", {
                            templateUrl : "login.html"
                        })
                        .when("/signup", {
                            templateUrl : "signup.html",
                
                        })
                        .when("/blue", {
                            templateUrl : "login.html"
                        });
                    });
                    </script>
                          
            
            
    